<header>
    <nav>
        <a href="/">MovieRama</a>
        <ul>
            <li><a href="/movies/new">Post</a></li>
            <li><a href="/users/logout">Log out</a></li>
        </ul>
    </nav>
</header>