<header>
    <nav>
        <a href="/">MovieRama</a>
        <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/new">Sign up</a></li>
        </ul>
    </nav>
</header>