<header>
    <nav class ="header-nav">
        <a class="header-title" href="/">MovieRama</a>
        <ul>
            <li class="header-link"><a href="/">Movies list</a></li>
            <li class="header-link"><a href="/movies/new">Post</a></li>
            <li class="header-link"><a href="/users/logout">Log out</a></li>
        </ul>
    </nav>
</header>