<header>
    <nav class ="header-nav">
        <a class="header-title" href="/">MovieRama</a>
        <ul>
            <li class="header-link"><a href="/">Movies list</a></li>
            <li class="header-link"><a href="/new">Post</a></li>
            <li><button class="btn btn-inline-header" onClick="callLogoutApi()">Log out</button></li>
        </ul>
    </nav>
</header>

<script>
    function callLogoutApi() {
        fetch("/users/logout", {
            method: "POST",
        });
    }
    location.assign('/users/login');
</script>

