<header>
    <nav class ="header-nav">
        <a class="header-title" href="/">MovieRama</a>
        <ul>
            <li><a href="/">Movies list</a></li>
            <li><a href="/new">Post</a></li>
            <li><button class="btn btn-inline-header" onClick="callLogoutApi()">Log out</button></li>
        </ul>
    </nav>
</header>

<script>
    async function callLogoutApi() {
       await fetch("/users/logout", {
            method: "POST",
        });
        location.assign('/users/login');
    }
</script>

