<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title">
    </div>
    <div class="form-item">
        <label>Description</label>
        <input type="text" name="description"></input>
    </div>
</div>
