<div class="form-row">
    <div class="form-item">
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="text" name="password">
    </div>
</div>
