<h2 class="page-header">Sign up!</h2>
<form action="/users/new" method="POST">
    <%- include('_form_fields')%>
    <div class="btn-row"></div>
        <a class="btn btn-primary" href='/'>Cancel</a>
        <button class="btn btn-primary" type="submit">Continue</button>
    </div>
</form>